<%-include("partials/head",{
    title:"Home",
    css:"index"
})%>
<body>
    <header>
        <%-include('partials/navbar')%>
        <div class="caja">estoy traabajando con ejs </div>
    </header>
    <main>
    </main>
</body>
</html>