* {
    box-sizing: border-box;
    overflow: hidden;
}
body {
    color: white;
    background: #23242a;
    min-height: 100vh;
}

.text-center { 
    font-size: 25px;
    text-align: center;
    border-radius: 10px;
}

.row {
    position: relative;
    margin-top: 2%;
    padding: 20px;
    background: #1c1c1c;
    border-radius: 8px;
    overflow: hidden;
}

.form {
    border-radius: 10px;
    box-shadow: 0px 5px 10px black;
    
}