<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav me-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" href="/" aria-current="page">Home <span class="visually-hidden">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">sobre nosotros</a>
                </li>
                <li class="nav-item">
                    <a href="/contact" class="nav-link">contacto</a>
                </li>

                <% if (user) {%>
                    <%if(user[0].id_tipo == 2 || user[0].id_tipo == 3){%>
                        <li class="nav-item">
                                <a href="/platos/create/plato" class="nav-link">Añadir platillo</a>
                        </li>
                    <%}%>
                        <li class="nav-item">
                            <a href="/platos/" class="nav-link">platos</a>
                        </li>
                    <li class="nav-item">
                        <a href="/logout" class="nav-link">Cerrar Sesión</a>
                    </li>


                <%} else {%>
                    <li class="nav-item">
                        <a href="/ingresar" class="nav-link">
                            ingresar
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/registrarse" class="nav-link">registrarse</a>
                    </li>
                <%}%>

            </ul>

        </div>
    </div>
</nav>