<%-include('../partials/head',{
    title:user[0].nombre,
    css:[]
})%>

<header>
    <%-include('../partials/navbar')%>
</header>
<main>
    
</main>
<%-include('../partials/footer',{
    js:[]
})%>

