<%-include('../partials/head',{
    title:"Error 404",
    css:[]
})%>
<body>
    <header>
        <%-include('../partials/navbar')%>
    </header>
    <main>
        <div>
            <h1>Error 404</h1>
            <p>Page not Found</p>
        </div>
    </main>
</body>
